# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from archive
.gitattributes export-ignore
.eslintignore export-ignore
eslint.config.mjs export-ignore
.prettierignore export-ignore
.prettierrc.json export-ignore
